In [1]:
# Import dependencies
import pandas as pd
import datetime as dt

In [2]:
# Import and read the  WTI Crude SPOT Prices Historical EIA data
file_path = "../Resources/raw_datasets/"
spot_prices_file = f"{file_path}/WTI_Crude_SPOT_Prices_Historical_EIA.csv"

spot_prices_df = pd.read_csv(spot_prices_file, skiprows = 4)
spot_prices_df.head()

         Day  Cushing OK WTI Spot Price FOB  Dollars per Barrel
0  1/10/2022                                              78.11
1   1/7/2022                                              79.00
2   1/6/2022                                              79.47
3   1/5/2022                                              77.83
4   1/4/2022                                              77.00

In [3]:
# Check all of the column names that were imported
spot_prices_df.columns.tolist()

['Day', 'Cushing OK WTI Spot Price FOB  Dollars per Barrel']

In [4]:
# Rename the columns
spot_prices_df.rename({
    "Day":"Date",
    "Cushing OK WTI Spot Price FOB Dollars per Barrel":"Cushing, OK WTI Spot Price FOB (Dollars per Barrel)"},
    axis="columns", inplace=True)

spot_prices_df.head()

        Date  Cushing OK WTI Spot Price FOB  Dollars per Barrel
0  1/10/2022                                              78.11
1   1/7/2022                                              79.00
2   1/6/2022                                              79.47
3   1/5/2022                                              77.83
4   1/4/2022                                              77.00

In [5]:
# Check the datatypes
spot_prices_df.dtypes

Date                                                  object
Cushing OK WTI Spot Price FOB  Dollars per Barrel    float64
dtype: object

In [6]:
# Check how many records were pulled in
len(spot_prices_df)

9078

In [7]:
# Determine if there are any missing values in the data
spot_prices_df.isnull().sum()

Date                                                 0
Cushing OK WTI Spot Price FOB  Dollars per Barrel    0
dtype: int64

In [8]:
# Convert Data types
spot_prices_df["Date"] = pd.to_datetime(spot_prices_df["Date"])
spot_prices_df.head()

        Date  Cushing OK WTI Spot Price FOB  Dollars per Barrel
0 2022-01-10                                              78.11
1 2022-01-07                                              79.00
2 2022-01-06                                              79.47
3 2022-01-05                                              77.83
4 2022-01-04                                              77.00

In [9]:
# Filter the DataFrame between two dates
spot_prices_df = spot_prices_df[(spot_prices_df["Date"] >= "1986-01-01") & (spot_prices_df["Date"] <= "2021-10-31")]
spot_prices_df.head()

         Date  Cushing OK WTI Spot Price FOB  Dollars per Barrel
48 2021-10-29                                              83.50
49 2021-10-28                                              82.78
50 2021-10-27                                              82.66
51 2021-10-26                                              85.64
52 2021-10-25                                              84.64

In [10]:
spot_prices_df.tail()

           Date  Cushing OK WTI Spot Price FOB  Dollars per Barrel
9073 1986-01-08                                              25.87
9074 1986-01-07                                              25.85
9075 1986-01-06                                              26.53
9076 1986-01-03                                              26.00
9077 1986-01-02                                              25.56

In [11]:
# Sorting DataFrame by Date
spot_prices_df = spot_prices_df.sort_values(["Date"], ascending=True)
spot_prices_df.head()

           Date  Cushing OK WTI Spot Price FOB  Dollars per Barrel
9077 1986-01-02                                              25.56
9076 1986-01-03                                              26.00
9075 1986-01-06                                              26.53
9074 1986-01-07                                              25.85
9073 1986-01-08                                              25.87

In [12]:
# Calculate the average for each month and year for all columns
avg_spot_prices = spot_prices_df["Date"].dt.to_period("M")  

spot_prices_df = spot_prices_df.groupby(avg_spot_prices).mean()
spot_prices_df.head()

         Cushing OK WTI Spot Price FOB  Dollars per Barrel
Date
1986-01                                          22.925455
1986-02                                          15.454737
1986-03                                          12.612500
1986-04                                          12.843636
1986-05                                          15.377619

In [13]:
# Round to specific decimals places 
spot_prices_df = spot_prices_df.round(decimals = 1)
spot_prices_df.head()

         Cushing OK WTI Spot Price FOB  Dollars per Barrel
Date
1986-01                                               22.9
1986-02                                               15.5
1986-03                                               12.6
1986-04                                               12.8
1986-05                                               15.4

In [14]:
# Convert type from pandas period to string
spot_prices_df.index = spot_prices_df.index.strftime("%b-%Y")
spot_prices_df.head()

          Cushing OK WTI Spot Price FOB  Dollars per Barrel
Date
Jan-1986                                               22.9
Feb-1986                                               15.5
Mar-1986                                               12.6
Apr-1986                                               12.8
May-1986                                               15.4

In [15]:
# Convert the Index to Column
spot_prices_df.reset_index(inplace=True)
spot_prices_df.head()

       Date  Cushing OK WTI Spot Price FOB  Dollars per Barrel
0  Jan-1986                                               22.9
1  Feb-1986                                               15.5
2  Mar-1986                                               12.6
3  Apr-1986                                               12.8
4  May-1986                                               15.4

In [16]:
# Export the Dataframe as a new CSV file without the index.
spot_prices_df.to_csv("../Resources/clean_datasets/Cleaned_WTI_Crude_SPOT_Prices_Historical_EIA.csv", index=False)